body
{color:#f5ceee;
    text-align: center;
    font-family: "Lucida Console"
    font-size(extrabold);
    margin: center;
    padding:first-letter
    background#f5ce;

}

#cabecera
{ background: #e3d7e1;
    box-shadow: 10px 10px 84px 3px #d1c3a7;
    color: #968196 ;
    font-weight: bold;
    margin: 0;
    padding: 0.5em;


}

#container
{
width: 80px;
padding: 1em; 
text-align: justify;
border: 40px salmon;
margin: 0 auto;
}
